#left-eye,
#right-eye {
  animation: look-around 3s linear infinite alternate;
}

@keyframes look-around {

  0% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(10px);
  }

}

#left-ear,
#right-ear {
  transform: translateY(-10px);
  transition: all .5s linear;
}

#bear:hover #left-ear,
#bear:hover #right-ear {
  transform: translateY(0);
}
